@import url('https://fonts.googleapis.com/css?family=Saira&display=swap');

html{
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}


body{
    margin:0px;
    color:white;
    font-family: 'Saira', sans-serif;
    justify-content:center;
}

header, main{
    text-align:center;
    margin-top: 100px;
}

.button {
    border-radius: 50px;
    background-color: transparent;
    border: solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 175px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 25px 10px;
    
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

a {
    color: white;
}

.pl-2{
    display:flex;
    justify-content: center;
}

.pl-2 div{
    margin: 0 20px;    
}

input{
    background:transparent;
    border-style: solid;
    border-radius:5px;
    height:35px;
    width: 100%;
    color:white;
}

.buttons{
    display: flex;
    flex-direction:inline;
    justify-content:center;
}

.inputs{
    width:100%;

}

header{
    justify-content:center;
    display:flex;
}

label{
    display:flex;
    justify-content: flex-start;
}